<h1>Hola MVC</h1>
<p>Lista de productos:</p>
{{#each products}}
<a href="/products/{{ id }}"> <p>{{ id }} - {{ name }}</p></a>
{{/each}}

<button onclick="window.location.href='/products/create'">Add Product</button>
<button onclick="window.location.href='./about-us'">About us</button>