<h1>Hola MVC</h1>
<p>Lista de productos:</p>
<table id="products">

</table>

<button onclick="window.location.href='/products/create'">Add Product</button>
<button onclick="window.location.href='./about-us'">About us</button>
<br><br><br>
<table>
    <tr>
        <td>
            <button id="prev" onclick="prevPage()">Prev</button>
        </td>
        <td>
            <button onclick="nextPage()">Next</button>
        </td>
    </tr>
</table>

<script>
    var page = 0;

    $(document).ready(function () {
        getProducts();
    });

    function getProducts() {
        $.ajax({
            url: '/products/page/' + page,
            success: function (products) {
                let table = $('#products');
                table.html('');

                products.forEach(product => {
                    table.append(`
                        <tr>
                            <td>
                                <a href="/products/${product.id}"> <p>${product.id} - ${product.name}</p></a>
                            </td>
                            <td>
                                <button onclick="deleteProduct(${product.id})">Delete</button>
                            </td>
                        </tr>
                    `);
                })
            },
            error: function () {
                page--;
            }
        });
    }

    function deleteProduct(id) {
        $.ajax({
            url: '/products/' + id,
            method: 'DELETE',
        });

        getProducts();
    }

    function nextPage() {
        page++;
        getProducts();
        document.getElementById('prev').style.display = "block";
    }

    function prevPage() {
        if(page > 0) {
            page--;
            getProducts();
        } 
    }
</script>